
.jumbotron {
	color: white; 
	font-family: 'Roboto';
	margin-top: 50px;
	background: rgb(2,0,36);
	background: yellow;
}

.notificacion{
	color:white;
	width:60%;
	padding: 10px;
	margin-left: : 100px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	margin-top: 20px;

}
.clase-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}
.btn-reserva{
	width:100%;
	border-radius: 0px
}
.btn-reserva:hover {
    background-color:white;
    color:blue;
}

.footer-icon {
	padding-right: 10px;
}

.navbar-collapse {
	margin-left: 100px;
	font-size: : 2px; 
}
.inicio {
		padding: 0 0 30px 0;

}