$red: #ffff0;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
.jumbotron {
	color: white; 
	font-family: 'Roboto';
	background-color: $red;
	@include margenes(50px, 0px);
}

.notificacion{
	color:white;
	width:60%;
	padding: 10px;
	margin-left: 100px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: black;
	color: white;
	@include margenes(15px, 0px);

}
.clase-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	@include margenes(50px, 0px);
}
.btn-reserva{
	width:100%;
	border-radius: 0px
}
.btn-reserva:hover {
    background-color:white;
    color:blue;
}

.footer-icon {
	padding-right: 10px;
}

.navbar-collapse {
	margin-left: 100px;
}
.inicio {
		padding: 0 0 30px 0;

}