.jumbotron {
  color: white;
  font-family: 'Roboto';
  background-color: #ffff0;
  margin-top: 50px;
  margin-bottom: 0px; }

.notificacion {
  color: white;
  width: 60%;
  padding: 10px;
  margin-left: 100px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: black;
  color: white;
  margin-top: 15px;
  margin-bottom: 0px; }

.clase-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.btn-reserva:hover {
  background-color: white;
  color: blue; }

.footer-icon {
  padding-right: 10px; }

.navbar-collapse {
  margin-left: 100px; }

.inicio {
  padding: 0 0 30px 0; }
