.jumbotron {
  color: white;
  font-family: 'Roboto';
  background: #020024;
  background-color: #ffaa11;
  margin-top: 50px;
  margin-bottom: 10px;
}
.notificacion {
  color: white;
  width: 60%;
  padding: 10px;
  margin-left: 100px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: black;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
}
.clase-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn-reserva:hover {
  background-color: white;
  color: blue;
}
.footer-icon {
  padding-right: 10px;
}
.navbar-collapse {
  margin-left: 100px;
}
.inicio {
  padding: 0 0 30px 0;
}
